<!DOCTYPE html>
<html>
  <head>
    <script src="/static/htmx.js"></script>
    <script src="/static/tailwind.3.4.3.css.js"></script>
  </head>
  <body>
    <h1 class="m-8 flex justify-center text-2xl sm:text-3xl font-bold text-slate-900 tracking-tight">Superposition Demo App</h1>
    <div id="content" class="mx-20 my-14 content-stretch grid grid-cols-1">
      <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select a city</label>
      <select class="bg-gray-50 text-lg border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="city" hx-get="/fragments/app.html" hx-target="#fare-table">
        <option value="Bangalore" selected>Bangalore</option>
        <option value="Chennai">Chennai</option>
        <option value="Paris">Paris</option>
      </select>
    </div>
    <div class="mx-20 content-stretch grid grid-cols-1" id="fare-table" hx-get="/fragments/app.html?city={{ city }}" hx-trigger="load">
    </div>
  </body>
</html>
