[package]
name = "superposition_types"
version = "0.5.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# env
actix-web = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
derive_more = { workspace = true }
thiserror = { version = "1.0.57", optional = true }
diesel = { workspace = true, optional = true }
anyhow = { workspace = true, optional = true }
jsonlogic = { workspace = true }
regex = { workspace = true }

[features]
disable_db_data_validation = []
result = ["dep:diesel", "dep:anyhow", "dep:thiserror"]

[lints]
workspace = true
