[package]
name = "superposition_types"
version = "0.2.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# env
actix = { workspace = true }
actix-web = { workspace = true }
strum_macros = { workspace = true }
strum = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
derive_more = { workspace = true }
thiserror = { workspace = true }
