awscli==2.15.15
awscrt==0.20.3
bcdoc==0.16.0
blinker==1.8.2
botocore==1.33.6
Brotli==1.1.0
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
cryptography==41.0.7
distro==1.8.0
docutils==0.20.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
gevent==24.2.1
geventhttpclient==2.3.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
locust==2.31.6
MarkupSafe==2.1.5
msgpack==1.1.0
pre-commit==3.6.0
prompt-toolkit==3.0.41
psutil==6.0.0
pycparser==2.21
python-dateutil==2.8.2
PyYAML==6.0.1
pyzmq==26.2.0
requests==2.32.3
ruamel.base==1.0.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
urllib3==1.26.18
wcwidth==0.2.12
Werkzeug==3.0.4
zope.event==5.0
zope.interface==7.0.3
