DATABASE_URL=postgres://postgres:docker@dockerdns:5432/config?sslmode=disable
RUST_LOG=info
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_REGION=ap-south-1
DB_USER=postgres
DB_HOST=dockerdns:5432
DB_NAME=config
APP_ENV=DEV
ADMIN_TOKEN="12345678"
AWS_REGION_ENDPOINT=http://dockerdns:4566
ALLOW_SAME_KEYS_OVERLAPPING_CTX=true
ALLOW_DIFF_KEYS_OVERLAPPING_CTX=true
ALLOW_SAME_KEYS_NON_OVERLAPPING_CTX=true
CAC_HOST="http://localhost:8080"
CONTEXT_AWARE_CONFIG_VERSION="v0.1.0"
HOSTNAME="<application_name>-<deployment_id>-<replicaset>-<pod>"
MJOS_ALLOWED_ORIGINS=https://potato.in,https://onion.in,http://localhost:8080
ACTIX_KEEP_ALIVE=120
MAX_DB_CONNECTION_POOL_SIZE=3
DASHBOARD_AUTH_ENABLED=false
ENABLE_TENANT_AND_SCOPE=true
TENANT_VALIDATION_ENABLED=false
TENANTS=mjos,sdk_config
TENANT_MIDDLEWARE_EXCLUSION_LIST="/health,/favicon.ico,/pkg/frontend.js,/pkg,/pkg/frontend_bg.wasm,/pkg/tailwind.css,/pkg/style.css,/assets,/admin,/"
DASHBOARD_AUTH_URL="https://dashboard.sandbox.juspay.in/ec/v1/authorize"
SERVICE_NAME="CAC"