from_latest_tag = true
ignore_merge_commits = false
branch_whitelist = []

tag_prefix = "v"
monorepo_version_separator = "-"

pre_bump_hooks = []

pre_package_bump_hooks = [
  "echo 'upgrading {{package}}' to {{version}}",
  "cargo set-version --package {{package}} {{version}}",
]

post_package_bump_hooks = []

post_bump_hooks = []

[commit_types]

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages]
context_aware_config = { path = "crates/context_aware_config" }
experimentation_platform = { path = "crates/experimentation_platform" }
service_utils = { path = "crates/service_utils" }
frontend = { path = "crates/frontend" }
cac_toml = { path = "crates/cac_toml" }
cac_client = { path = "crates/cac_client" }
experimentation_client = { path = "crates/experimentation_client" }
superposition_types = { path = "crates/superposition_types" }
js_client = { path = "clients/js" }
haskell_client = { path = "clients/haskell" }
superposition_macros = { path = "crates/superposition_macros" }
superposition_derives = { path = "crates/superposition_derives" }
