services:
  postgres:
    build: ./docker-compose/postgres/
    container_name: superposition_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "docker"
      POSTGRES_DB: "config"
    volumes:
      - ./docker-compose/postgres/data:/var/lib/postgresql/data
    restart: on-failure

  # localstack:
  #   build: ./docker-compose/localstack/
  #   container_name: superposition_localstack
  #   ports:
  #     - "4510-4559:4510-4559"  # external service port range
  #     - "4566:4566"            # LocalStack Edge Proxy
  #     - "4571:4571"
  #   environment:
  #     LOCALSTACK_SERVICES: s3, sns, sqs, logs, cloudwatch, kms
  #     AWS_DEFAULT_REGION: ap-south-1
  #     EDGE_PORT: 4566

#   redis:
#     image: redis:7
#     container_name: superposition_redis
#     restart: on-failure
#     ports:
#       - 6379:6379
#     command: redis-server
#     network_mode: bridge

  # app:
  #   image: ghcr.io/juspay/superposition:latest
  #   container_name: superposition_app
  #   ports:
  #     - "8080:8080"
  #   environment:
  #       - DATABASE_URL=postgres://postgres:docker@superposition_postgres:5432/config?sslmode=disable
  #       - RUST_LOG=debug
  #       - AWS_ACCESS_KEY_ID=test
  #       - AWS_SECRET_ACCESS_KEY=test
  #       - AWS_SESSION_TOKEN=test
  #       - AWS_REGION=ap-south-1
  #       - DB_USER=postgres
  #       - DB_HOST=superposition_postgres:5432
  #       - DB_NAME=config
  #       - APP_ENV=DEV
  #       - AWS_REGION_ENDPOINT=http://superposition_localstack:4566
  #       - ALLOW_SAME_KEYS_OVERLAPPING_CTX=true
  #       - ALLOW_DIFF_KEYS_OVERLAPPING_CTX=true
  #       - ALLOW_SAME_KEYS_NON_OVERLAPPING_CTX=true
  #       - CAC_HOST=http://localhost:8080
  #       - API_HOSTNAME=http://localhost:8080
  #       - SUPERPOSITION_VERSION=v0.1.0
  #       - HOSTNAME=<application_name>-<deployment_id>-<replicaset>-<pod>
  #       - ACTIX_KEEP_ALIVE=120
  #       - SERVICE_PREFIX=
  #       - MAX_DB_CONNECTION_POOL_SIZE=3
  #       - TENANTS=dev,test
  #       - TENANT_MIDDLEWARE_EXCLUSION_LIST=/health,/assets/favicon.ico,/pkg/frontend.js,/pkg,/pkg/frontend_bg.wasm,/pkg/tailwind.css,/pkg/style.css,/assets,/admin,/oidc/login,/admin/organisations,/organisations,/organisations/switch/{organisation_id},/
  #       - SERVICE_NAME=CAC
  #       - AUTH_PROVIDER=DISABLED
  #       - WORKER_ID=5
  #   depends_on:
  #     - postgres
  #     - localstack
  #   restart: on-failure
