[package]
name = "context_aware_config"
version = "0.39.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
actix-http = "3.3.1"
actix-web = { workspace = true }
anyhow = { workspace = true }
base64 = { workspace = true }
blake3 = "1.3.3"
cac_client = { path = "../cac_client" }
chrono = { workspace = true }
derive_more = { workspace = true }
diesel = { workspace = true }
futures-util = "0.3.28"
itertools = "0.10.5"
jsonlogic = { workspace = true }
jsonschema = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
service_utils = { path = "../service_utils" }
strum_macros = { workspace = true }
superposition_macros = { path = "../superposition_macros" }
superposition_types = { path = "../superposition_types", features = ["result"] }
uuid = { workspace = true }


[features]
disable_db_data_validation = ["superposition_types/disable_db_data_validation"]

[lints]
workspace = true
