[package]
name = "cac_client"
version = "0.14.0"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
once_cell = { workspace = true }
derive_more = { workspace = true }
actix-web = { workspace = true }
chrono = { workspace = true }
jsonlogic = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
log = { workspace = true }
strum_macros = { workspace = true }
strum = { workspace = true }
tokio = {version = "1.29.1", features = ["full"]}
service_utils = { path = "../service_utils" }
superposition_types = {path = "../superposition_types"}
anyhow = { workspace = true }
superposition_macros = { path = "../superposition_macros" }
[lib]
name = "cac_client"
crate-type = ["cdylib", "lib"]

[build-dependencies]
cbindgen = "0.26.0"

[lints]
workspace = true
