[package]
name = "experimentation_platform"
version = "0.13.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# env
dotenv = { workspace = true }
# Https server framework
actix = { workspace = true }
actix-web = { workspace = true }
# To help generate snowflake ids
rs-snowflake = { workspace = true }
# To help with generating uuids
uuid = { workspace = true }
# To serialize and deserialize objects from json
serde = { workspace = true }
serde_json = { workspace = true }
# For logging and debugging
env_logger = { workspace = true }
log = { workspace = true }
# to work with enums
derive_more = { workspace = true }
# date and time
chrono = { workspace = true }
# ORM
diesel = { workspace = true }
diesel-derive-enum = { version = "2.0.1", features = ["postgres"] }
service_utils = { path = "../service_utils" }
superposition_types = { git = "ssh://git@ssh.bitbucket.juspay.net/picaf/context-aware-config.git", version = "0.1.0" }
reqwest = { workspace = true }
anyhow = { workspace = true }
